<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - The Student Whisperer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>

  </style>
</head>
<body id="no-sidebar">
  <div class="wrapper" id="home">
    <!-- Emblem directly above the text -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Emblem">
    <h1>Home</h1>
    <p>Welcome to the Student Whisperer, the non-official UvA Student Portal!</p><br>
    <form>
      <a href="{{ url_for('register') }}">Register</a><br>
      <span>Already registered? <a href="{{ url_for('login') }}">Login</a></span>
    </form>
  </div>
</body>
</html>